@model IEnumerable<labr1.Models.Customers>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Список клієнтів</h3>

        <a href="@Url.Action("Create", "Home")">Додати</a>
    <table>
        <tr class="header">
            <td>Ім'я</td>
            <td>Прізвище</td>
            <td>Дата народження</td>
            <td>Пошта</td>
            <td>Телефон</td>
            <td>Кредитний ліміт</td>
            <td>Непогашений кредит</td>
        </tr>

        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.DateOfBirth.ToString("yyyy-MM-dd")</td>
                <td>@customer.Email</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.CreditLimit</td>
                <td>@customer.CreditOutstanding</td>
                <td>
                    <a href="@Url.Action("Pay", "Home", new { CustomerID = customer.CustomerID })">Погасити</a>
                </td>
                <td>
                    <a href="@Url.Action("EditClient", "Home", new { CustomerID = customer.CustomerID })">Редагувати</a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Home", new { CustomerID = customer.CustomerID })">Видалити</a>
                </td>
            </tr>
        }
    </table>
</div>



